/* #region GLOBALS */
:root {
    --main-font-color: black;
    --pastel-yellow: #FDFD96;
    --pepperoni-red: #b31925;
    --box-shadow-thin: 2px 2px 5px #7a4b5454, -2px 2px 5px #7a4b5454;
}

html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
}

.button-52:after {
  content: "";
  background-color: var(--pastel-yellow);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

/* #endregion */


/* #region HEADER */
header {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    background-color: var(--pastel-yellow);
    color: var(--main-font-color);
    padding: 8px;
}

address {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

address div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 540;
    gap: 5px;
}

address div img {
    width: 1.5rem;
}

address div p {
    font-size: 12px;
}
/* #endregion */


/* #region NAVIGATION */
.nav-main {
    padding: 20px;
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    box-shadow: var(--box-shadow-thin);
}

.nav-main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.nav-main ul img{
    width: 64px;
}

.nav-main ul a {
    text-decoration: none;
    color: black;
}

.nav-main ul a:hover {
    color: var(--pepperoni-red);
}
/* #endregion */


/* #region FOOTER */
footer {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: var(--pepperoni-red);
}
/* #endregion */


/* #region HOME PAGE */

#home-page {
    flex: 1 1 auto;
}

#home-page main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #b31925;
}

#home-page .overlay {
    width: 100%;
    height: 100%;

    background-color: rgb(179, 171, 167);
    opacity: 0.5;

    position: absolute;
    z-index: 1;
}

#home-page .backgroundImg {
    width: 100%;
    height: 100%;

    margin: auto;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    
    overflow-x: hidden;
}

#home-page .content {
    z-index: 2;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    position: relative;
    top: -10%;
}

#home-page .content h1{
    font-size: 56px;
}

#home-page .content blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-style: italic;
}



/* #endregion */